body {
 background-color:coral;
 background: url(images/background.jpg)no-repeat center/ cover;
}
header {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 10px;
  /* background: rgba(255, 255, 255, .1); */
  border-bottom: 2px solid rgba(255, 255, 255, .2);
  border-radius: 7px;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
}
header .nation-name{
  font-size: 1rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-left: 0.5rem;
} 
.nation-logo {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
}
/* Main */
.app {
  background: white;
  width: 90%;
  max-width: 600px;
  margin: 50px auto 0;
  border-radius: 10px;
  padding: 30px;
}
.app h2{
 font-size:20px;
 color: #001e4d;
 font-weight: 600;
 border-bottom: 1px solid #333;
 padding-bottom: 30px;
 text-align: center;
}
.quiz {
  padding: 20px 0;
}
.quiz h3 {
  font-size: 15px;
  font-weight: 600;
  color: #001e4d;
  animation: slide 5s infinite ease-out;
}
 @keyframes slide {
   0% {
    transform: translateX(2rem);
   }

   100% {
    transform: translateX(0.5rem);
   }
 }
.btn {
  background: white;
  color: #222;
  font-weight: bold;
  width: 100%;
  border: 1px solid #222;
  margin: 10px 0;
  padding: 10px;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover:not([disabled]) {
  background-color: #222;
  color: white;
  transition: 0.2s;
}
.btn:disabled {
  cursor: no-drop;
}
#next-btn {
  background-color: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border:0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}
.correct {
 background-color: #9aeabc;
}
.incorrect {
  background-color: #ff9393;
}

/* Footer */
footer h5 {
 text-align: center;
}