* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  }

  body {
    background: #001e4d;
    /* background-image: url(/IMG_E7807.JPG); */
    background-size: contain;
    background-position: left;
    color: #fff;
  }
  li a {
    color: #fff;
  /* }
header {
  display: flex;
  justify-content: space-between;
}
 .logo-and-name-container {
  display: flex;
 }
.nation-logo {
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%; */
}

  


  /* .app {
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
  }
  .app h2{
   font-size:28px;
   color: #001e4d;
   font-weight: 600;
   border-bottom: 1px solid #333;
   padding-bottom: 30px;
  }
  .quiz {
    padding: 20px 0;
  }
  .quiz h3 {
    font-size: 20px;
    font-weight: 600;
    color: #001e4d;
    animation: slide 5s infinite ease-out;
  }
   @keyframes slide {
     0% {
      transform: translateX(2rem);
     }

     100% {
      transform: translateX(0.5rem);
     }
   }
  .btn {
    background: white;
    color: #222;
    font-weight: bold;
    width: 100%;
    border: 1px solid #222;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn:hover:not([disabled]) {
    background-color: #222;
    color: white;
    transition: 0.2s;
  }
  .btn:disabled {
    cursor: no-drop;
  }
  #next-btn {
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border:0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
  }
  .correct {
   background-color: #9aeabc;
  }
  .incorrect {
    background-color: #ff9393;
  } */