body {
  background-color: darkgrey;
}
.nation-logo {
  width: 70px;
  height: 70px;
}
header .nation-name{
  font-size: 2rem;
} 
/* main */
main h2 {
  font-size: 2rem;
}
/* Footer */
footer h5 {
  padding-top: 30px;
  font-size: 12px;
 }